<!DOCTYPE html>
<html lang="uk-ua">
<head>
{#	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>#}
{#    <link type="text/css" href="/static/base.css" rel="stylesheet">#}
{#    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
{#    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">#}
{#    {% block additional_css %}{% endblock %}#}
{#    {% block additional_js %}{% endblock %}#}
    <title>project3 Pizza :: {% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>