{% extends "base.html" %}
{% block title %} Registration: {% endblock %}
{% block content %}

    <div class="container">
        <h2>Registration new user:</h2>
        <div>
            <div>{{ message }}</div>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <p>Name:</p>
            <input  name="username" type="text" autocomplete="off">
            <p>Last name:</p>
            <input name="lastname" type="text"  autocomplete="off">
            <p>Password:</p>
            <input name="password" type="password" autocomplete="off">
{#            <p>Password confirm:</p>#}
{#            <input type="password" id="pass_conf" autocomplete="off">#}
            <p><input type="submit" id="reg"></p>
        </form>
        </div>

    </div>
{% endblock %}