<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>project3 - index</title>
</head>
<body>
<div class="container">
    <div class="navigation_bar">
        <button>Menu</button>
        <button>Login</button>
    </div>
    <div class="body_index">
        <div class="text">
            Noch's has reached a landmark this year......50 years in business! We've been feeding Harvard and the surrounding area since 1966!<br>
            We sell award-winning sicilian-style pizza and mouth-watering steak subs! We have over 500 reviews on Yelp--- check it out!<br>
            Pinocchio's was recently named 1st Runner-up in the 'Boston's Best Pizza Poll' conducted by Eater.com and Top College Pizza Shop by Thrillist.com.<br>
            Check out our mention on Suits!
        </div>
    </div>
</div>
</body>
</html>