{% extends "base.html" %}
{% block content %}
    <div><h2 id="title_order" class="itemLine">My order: </h2><h3 id="total_order" class="itemLine"></h3></div>
        <div class="order"></div>
{#        <form action="submit" method="post" >#}
        <input type="submit" id="submit" value="SUBMIT">
{#        </form>#}
        <div class="body_menu">
            <div name="dishes">
                <ul id="dishes_list">
                {% for categorie in categories_list %}
                    {% if not categorie.subtype %}
                        <h3 class="ctgr_name" id="ctgr{{ categorie.id }}">{{ categorie.name }}</h3>
                        <div class="ctgr{{ categorie.id}}">
                            {% for dish in dishes_list %}
                                {% if categorie.id == dish.categorie_id %}
                                    <li class="dish" id="{{ dish.id }}" data-dishid={{ dish.id }} data-small={{ dish.small }}>{{ dish.name }}
                                        {% if dish.is_compl%}
                                           >>
                                        {% endif %}

                                        ($ {{ dish.small }}
                                        {% if dish.large > 0 %}
                                             / $ {{ dish.large }}
                                        {% endif %}
                                        )
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
{#            </div>#}
        </div>

{% endblock %}